$challenge-gray: #969696; // hsl(0, 0%, 59%)
$challenge-gray-border: rgba(43, 43, 43, 0.219); // #969696; // hsl(0, 0%, 59%)
$challenge-dark-gray: #2B2B2B; // hsl(0, 0%, 17%)

$challenge-red: #96271C;
$challenge-orange: #FA5757;