
.mapContainer {
    display: flex;
    position: relative;

    margin-top: -70px;

    @media all and (max-width: 875px) {
        margin-top: -200px;
    }

    .map {
        height: 700px;
        flex-grow: 1;

        z-index: 400;
    }
}