*/node_modules/
**/node_modules/

*/.DS_Store
**/.DS_Store

npm-debug.log*

*/.env
**/.env

*/package-lock.json
**/package-lock.json
*/yarn.lock
**/yarn.lock

*/database/seeds/data_files/
**/database/seeds/data_files/

*/build/

stats.html