@use "../_core" as core;
@use "colors.module.scss";
@use "fonts.module.scss";
@use "variables.module.scss";

$default-text-size: 16px;
$default-weight: 400;
$bold-weight: 700;

.solutionContainer {
  font-family: fonts.$challenge-font;
  background-color: core.$white;
  color: colors.$challenge-gray-blue-dark;

  .container {
    max-width: variables.$container-width;
    margin: 0 auto;
  }

  .header {
    border-bottom: 1px solid colors.$challenge-gray-blue;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: variables.$container-width) {
      padding: 0 10px;
      min-height: 67px;
    }

    .headerLogo {
      img {
        max-height: 20px;
      }

      border: 2px solid transparent;
      cursor: pointer;
      outline: 0; // Replacing with orange border

      &:hover,
      &:focus-visible {
        border-color: colors.$challenge-orange;
      }
    }

    .leftGroup {
      display: flex;
      align-items: center;
      gap: 50px;

      @media all and (max-width: variables.$mobile-header-width) {
        gap: 15px;
      }
    }

    .rightGroup {
      display: flex;
      align-items: center;
      gap: 40px;

      @media all and (max-width: variables.$mobile-header-width) {
        gap: 24px;
      }
    }
  }

  .content {
    padding: 90px 45px;
    background-color: core.$white;
    color: colors.$challenge-gray-blue-dark;
  }

  footer {
    text-align: center;
  }
}

