@use "../_core" as core;
@use "colors.module.scss";

.cartImageButton {
  cursor: pointer;
  padding: 5px;
  border: 2px solid transparent;
  background-color: transparent;
  outline: 0; // Replacing with orange border and darker icon effect

  &:hover,
  &:focus-visible {
    path {
      fill: core.$black;
    }
  }

  &:focus-visible {
    border-color: colors.$challenge-orange;
  }
}