@use "../_core" as core;
@use "colors.module.scss";
@use "variables.module.scss";

.navList {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 34px;
  }

  a {
    display: block;
    color: colors.$challenge-gray-blue-dark;
    text-decoration: none;
    padding: 35px 0;

    border: 2px solid transparent;
    cursor: pointer;
    outline: 0; // Replacing with orange border

    &:hover,
    &:focus-visible {
      color: core.$black;
      border-bottom-color: colors.$challenge-orange;
    }
  }

  &:not(.navListMobile) {
    @media all and (max-width: variables.$mobile-header-width) {
      display: none;
    }
  }

  &.navListMobile {
    ul {
      gap: initial;
      flex-direction: column;
    }

    a {
      padding: 0;
      font-weight: 700;
      margin: 16px 0;
    }
  }
}
