@use "../_core" as core;
@use "static-job-listings.module.scss" as staticJL;

.lightPill {
    @include staticJL.pillBox();

    background-color: staticJL.$challenge-tetitary;
    color: staticJL.$challenge-primary;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

    &:hover, &:focus-visible {
        background-color: staticJL.$challenge-primary;
        color: core.$white;
    }

    &.lightPillSelected {
        background-color: staticJL.$challenge-primary;
        color: core.$white;

        &:hover, &:focus-visible {
            background-color: staticJL.$challenge-tetitary;
            color: staticJL.$challenge-primary;
        }
    }
}

.lightPillWithX {
    @include staticJL.pillBox();

    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    .pillSuffix {
        background-color: staticJL.$challenge-primary;
        color: core.$white;
        padding: 6px 10px;
        box-sizing: border-box;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 0;

        img {
            height: 15px;
            width: 15px;
        }
    }

    .pillContent {
        background-color: staticJL.$challenge-tetitary;
        color: staticJL.$challenge-primary;
        padding: 5px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &:hover, &:focus-visible {
        .pillSuffix {
            background-color: staticJL.$challenge-secondary;
            color: core.$white;
        }
    }
}