@import "../_core";
@import "colors.module.scss";
@import "fonts.module.scss";

.solutionContainer {
    font-family: $challenge-font;
    background-color: $challenge-magnolia;
    color: $black;

    .centerBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .container {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            max-width: 852px;
            width: 100%;

            .content {
                border-radius: 15px;
                background-color: $white;
                color: $black;

                box-sizing: border-box;
                padding: 15px;
                min-height: 550px;

                display: flex;
                justify-content: space-between;

                .sidebar {
                    border-radius: 15px;
                    width: 250px;
                    box-sizing: border-box;
                    padding: 30px;

                    color: $white;
                    background-color: $challenge-purple;
                    background-image: url("/assets/multi-step-form/bg-sidebar-desktop.svg");
                    background-position: top center;
                    background-repeat: no-repeat;

                    ul, ol {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        list-style-position: inside;
                        margin: 0;
                        padding: 0;
                    }

                    .sidebarNavItem {
                        display: flex;
                        align-items: center;
                        margin: 3px 0;

                        .sidebarNumber {
                            display: flex;
                            box-sizing: border-box;
                            width: 30px;
                            height: 30px;
                            border: 2px solid $white;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            color: $white;
                            margin-right: 20px;
                            font-size: 0.85rem;
                            font-weight: bold;

                            &.sidebarNumberCurrent {
                                background-color: $challenge-blue-light;
                                color: $black;
                                border-color: $challenge-grey;
                            }
                        }

                        .sidebarStepNumber {
                            font-size: 0.75rem;
                            text-transform: uppercase;
                            color: $challenge-grey;
                        }

                        .sidebarStepTitle {
                            font-size: 0.85rem;
                            font-weight: bold;
                            color: $white;
                            text-transform: uppercase;
                        }
                    }

                    @media all and (max-width: 865px) {
                        ul, ol {
                            flex-direction: row;
                            padding: 60px;
                            justify-content: center;
                        }
                        .sidebarStepLabel {
                            display: none;
                        }
                    }
                }

                .currentStep {
                    box-sizing: border-box;
                    padding: 15px 80px;
                    border-radius: 15px;
                    background-color: $white;
                    color: $black;
                    width: 700px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .currentFormSet {
                        display: flex;
                        flex-direction: column;
                    }

                    .currentFormTitle {
                        color: $challenge-blue-dark;
                        margin-bottom: 9px;
                    }

                    .currentFormDescription {
                        color: $challenge-gray;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 10px;
                    }

                    .buttonRow {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        &.buttonRowSingle {
                            justify-content: flex-end;
                        }
                    }
                }

                @media all and (max-width: 865px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: transparent;
                    padding: 0;
                    width: 100%;

                    .sidebar {
                        width: 100%;
                        margin: 0;
                        border-radius: 0;
                        background-image: url("/assets/multi-step-form/bg-sidebar-mobile.svg");
                        background-position: top center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 200px;
                    }

                    .currentStep {
                        margin: -50px auto 20px auto;
                        max-width: 90%;
                        padding: 10px 30px 20px 30px;
                    }
                }

                .alertError {
                    width: 100%;
                    margin: 0 0 10px 0;
                    color: $black;
                    background-color: $grey-02;
                    border: 1px solid $black;
                    padding: 1rem 1rem;
                    border-radius: 0.25rem;
                    background-color: $red-light;
                    color: $challenge-red;
                    border-color: $challenge-red;
                }

                .planTypesContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    margin-top: 20px;

                    .planTypeCard {
                        width: 30%;
                        box-sizing: border-box;
                        border: 1px solid $challenge-grey;
                        border-radius: 11px;
                        min-height: 160px;
                        background-color: $white;
                        color: $black;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        text-align: left;

                        &.planTypeCardCurrent {
                            border-color: $challenge-blue-dark;
                            background-color: $challenge-magnolia;
                        }

                        img {
                            margin-bottom: 40px;
                        }

                        .planTypeCardTitle {
                            color: $challenge-blue-dark;
                            font-weight: bold;
                            font-size: 1rem;
                        }

                        .planTypeCardCost {
                            color: $challenge-gray;
                            font-size: .875rem;
                            line-height: 1.25rem;
                        }

                        .planTypeCardDesc {
                            color: $challenge-blue-dark;
                            font-size: .75rem;
                            line-height: 1rem;
                        }

                        &:focus-visible {
                            outline-color: $challenge-blue-dark;
                        }

                        &:hover {
                            border-color: $challenge-blue-dark;
                        }
                    }

                    @media all and (max-width: 580px) {
                        flex-direction: column;

                        .planTypeCard {
                            width: 100%;
                            min-height: auto;
                            margin: 10px 0;
                            flex-direction: row;

                            img {
                                margin: 0;
                            }

                            .planTypeCardText {
                                margin: 0 20px;
                            }
                        }
                    }
                }

                .planFrequencyContainer {
                    background-color: $challenge-alabaster;
                    border-radius: 5px;
                    margin: 30px 0;

                    .planFrequencyField {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }

                .addOnsContainer {
                    fieldSet {
                        padding: 0;
                        border: none;
                    }

                    .addOnCard {
                        display: flex;
                        border: 1px solid $challenge-grey;
                        border-radius: 5px;
                        margin: 10px 0;
                        box-sizing: border-box;
                        padding: 10px;
                        cursor: pointer;

                        * {
                            cursor: pointer;
                        }

                        input {
                            box-sizing: border-box;
                            flex-grow: initial;
                            max-width: 20%;
                            width: 25px;
                            accent-color: $challenge-purple;
                        }

                        label {
                            flex-grow: 1;
                        }

                        .addOnLabel {
                            box-sizing: border-box;
                            padding: 0 10px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .addOnTitle {
                                color: $challenge-blue-dark;
                                font-weight: bold;
                                font-size: 1rem;
                            }

                            .addOnDesc {
                                color: $challenge-gray;
                                font-size: .875rem;
                                line-height: 1.25rem;
                            }

                            .addOnPrice {
                                color: $challenge-purple;
                                font-size: .875rem;
                                line-height: 1.25rem;
                            }

                            @media all and (max-width: 410px) {
                                flex-direction: column;
                                align-items: flex-start;
                            }
                        }

                        &.addOnCardChecked {
                            border-color: $challenge-blue-dark;
                            background-color: $challenge-magnolia;
                        }

                        &:focus-within {
                            outline: 1px solid $challenge-blue-dark;

                            input {
                                outline: none;
                            }
                        }

                        &:hover {
                            border-color: $challenge-blue-dark;
                        }
                    }

                    @media all and (max-width: 600px) {
                        width: 100%;
                    }
                }

                .summaryBlock {
                    margin-top: 20px;
                    background-color: $challenge-magnolia;
                    color: $challenge-gray;
                    border-radius: 10px;
                    padding: 5px 20px;
                    box-sizing: border-box;
                }

                .summaryTotal {
                    padding: 20px;
                    color: $challenge-gray;

                    .summaryTotalPrice {
                        color: $challenge-purple;
                        font-weight: bold;
                    }
                }

                .summaryAddOns {
                    border-top: 1px solid $challenge-gray;
                    padding-top: 10px;
                }

                .summaryRow {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0;
                    padding-bottom: 10px;

                    @media all and (max-width: 360px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    &.summaryPlan {
                        .summaryPlanTitle {
                            color: $challenge-blue-dark;
                            font-weight: bold;
                        }

                        .summaryPrice {
                            font-weight: bold;
                        }
                    }

                    .summaryPrice {
                        color: $challenge-blue-dark;
                    }

                    &.summaryAddOn {
                        padding-bottom: 0;
                    }
                }

                .textButton {
                    color: $challenge-gray;
                    background-color: transparent;
                    border-color: transparent;
                    font-size: 16px;
                    padding: 0 5px;
                    border-radius: 0;

                    &:hover,
                    &:focus-visible {
                        color: $challenge-blue-dark;
                    }
                }

                .linkButton {
                    background-color: transparent;
                    border-color: transparent;
                    padding: 0;
                    color: $challenge-gray;
                    border-radius: 0;

                    &:hover,
                    &:focus-visible {
                        text-decoration: underline;
                        color: $challenge-purple;
                    }
                }

                .submitButton {
                    &:hover,
                    &:focus-visible {
                        background-color: $challenge-purple;
                    }
                }
            }
        }
    }

    footer {
        text-align: center;
    }
}