@import "../_core";
@import "colors.module.scss";
@import "fonts.module.scss";

.solutionContainer {
    font-family: $challenge-font;
    background-color: $challenge-magnolia;
    color: $black;

    .centerBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .container {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            max-width: 852px;
            width: 100%;

            .content {
                border-radius: 15px;
                background-color: $white;
                color: $black;

                box-sizing: border-box;
                padding: 15px;
                min-height: 550px;

                display: flex;
                justify-content: space-between;

                .sidebar {
                    border-radius: 15px;
                    width: 250px;
                    box-sizing: border-box;
                    padding: 30px;

                    color: $white;
                    background-color: $challenge-purple;
                    background-image: url("/assets/multi-step-form/bg-sidebar-desktop.svg");
                    background-position: top center;
                    background-repeat: no-repeat;
                }

                .currentStep {
                    box-sizing: border-box;
                    padding: 15px 90px;
                    background-color: $white;
                    color: $black;
                    width: 650px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .currentFormSet {
                        display: flex;
                        flex-direction: column;
                    }

                    .buttonRow {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        &.buttonRowSingle {
                            justify-content: flex-end;
                        }
                    }
                }

                .planTypesContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    .planTypeCard {
                        width: 30%;
                        box-sizing: border-box;
                        border: 1px solid black;
                        border-radius: 5px;
                        min-height: 160px;
                        background-color: white;
                        color: black;
                    }
                }

                .addOnsContainer {
                    fieldSet {
                        padding: 0;
                        border: none;
                    }
                    .addOnCard {
                        display: flex;
                        border: 1px solid black;
                        border-radius: 5px;
                        margin: 10px 0;
                        box-sizing: border-box;
                        padding: 10px;
                        cursor: pointer;

                        input {
                            box-sizing: border-box;
                            flex-grow: initial;
                            max-width: 20%;
                            width: 25px;
                        }

                        label {
                            flex-grow: 1;
                        }

                        .addOnLabel {
                            box-sizing: border-box;
                            padding: 0 10px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .addOnTitle {
                                font-weight: bold;
                            }

                            .addOnDesc {

                            }

                            .addOnPrice {

                            }
                        }
                    }
                }                
            }
        }
    }

    footer {
        text-align: center;
    }
}