@import "../_core";

$challenge-blue-dark: #02295A; // Marine blue: hsl(213, 96%, 18%)
$challenge-blue-highlight: #18498B;
$challenge-blue: #ADBEFF; // Pastel blue: hsl(228, 100%, 84%)
$challenge-blue-light: #BFE2FD; // Light blue: hsl(206, 94%, 87%)
$challenge-purple: #473DFF; // Purplish blue: hsl(243, 100%, 62%)
$challenge-red: #ED3548; // Strawberry red: hsl(354, 84%, 57%)
$challenge-red-light: #FEEFEF;

$challenge-gray: #9699AB; // Cool gray: hsl(231, 11%, 63%)
$challenge-grey: #D6D9E6; // Light gray: hsl(229, 24%, 87%)
$challenge-magnolia: #F0F6FF; // Magnolia: hsl(217, 100%, 97%)
$challenge-alabaster: #FAFBFF; // Alabaster: hsl(231, 100%, 99%)