@use "colors.module.scss";
@use "fonts.module.scss";
@use "../_core" as core;

.fieldWrapper {
  display: inline-block;
  margin: 10px 0;
  margin-right: 0;

  @media all and (max-width: 600px) {
    width: 90%;
  }

  .requiredText {
    color: colors.$challenge-red;
  }

  .inputWrapper {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: core.$white;
    color: core.$black;
  }

  label {
    display: block;
    color: colors.$challenge-blue-dark;
    padding: 5px 0;
  }

  .suffixIcon {
    font-size: 20px;
    margin: 0 10px;
    box-sizing: border-box;
  }

  input,
  select {
    box-sizing: border-box;
    border: 1px solid colors.$challenge-grey;
    flex-grow: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 14px;

    /* do not group these rules */
    &::-webkit-input-placeholder {
      color: colors.$challenge-gray;
    }
    &:-moz-placeholder {
      color: colors.$challenge-gray;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: colors.$challenge-gray;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: colors.$challenge-gray;
    }
    &::-ms-input-placeholder {
      color: colors.$challenge-gray;
    }
    &::placeholder {
      color: colors.$challenge-gray;
    }

    &:hover {
      border-color: colors.$challenge-blue-dark;
    }

    &:focus-visible {
      outline-color: colors.$challenge-blue-dark;
    }
  }

  .labelAndErrorContainer {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 430px) {
      flex-direction: column;
    }
  }

  &.invalidField {
    input {
      border-color: colors.$challenge-red !important;
    }

    .fieldErrorText {
      font-size: 1rem;
      font-weight: bold;
      color: colors.$challenge-red;
      box-sizing: border-box;
      padding: 5px 0;
    }
  }
}

.alertError {
  width: 100%;
  margin: 0 0 10px 0;
  color: core.$black;
  background-color: core.$grey-02;
  border: 1px solid core.$black;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  background-color: core.$red-light;
  color: colors.$challenge-red;
  border-color: colors.$challenge-red;
}

.fieldHelpText {
  font-size: .875em;
  color: core.$white;
}

.button {
  background-color: colors.$challenge-blue-dark;
  color: core.$white;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: fonts.$challenge-font;
  font-size: 14px;

  &:hover,
  &:focus-visible {
    color: core.$white;
    background-color: colors.$challenge-blue-highlight;
  }
}


.switchToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-color: transparent;
  background-color: transparent;
  color: core.$black;
  cursor: pointer;

  .switchToggleLabel {
    padding: 10px;
    font-weight: bold;
    color: colors.$challenge-gray;

    &.switchToggleLabelSelected {
      color: colors.$challenge-blue-dark;
    }
  }

  svg {
    display: block;

    .container {
      fill-opacity: 1;
      fill: colors.$challenge-blue-dark;
    }

    .circle {
      fill-opacity: 1;
      fill: core.$white;
    }
  }

  &:focus-visible {
    outline: none;
    cursor: pointer;

    svg {
      outline: 2px solid core.$black;
    }
  }

}