@import "colors.module.scss";
@import "fonts.module.scss";

@import "colors.module.scss";
@import "fonts.module.scss";

.fieldWrapper {
  display: inline-block;
  margin: 10px 0;
  margin-right: 0;

  @media all and (max-width: 600px) {
    width: 90%;
  }

  .requiredText {
    color: $challenge-red;
  }

  .inputWrapper {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    color: $black;
  }

  label {
    display: block;
    color: $challenge-blue-dark;
    padding: 5px 0;
  }

  .suffixIcon {
    font-size: 20px;
    margin: 0 10px;
    box-sizing: border-box;
  }

  input,
  select {
    box-sizing: border-box;
    border: 1px solid $challenge-grey;
    flex-grow: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 14px;

    /* do not group these rules */
    &::-webkit-input-placeholder {
      color: $challenge-gray;
    }
    &:-moz-placeholder {
      color: $challenge-gray;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: $challenge-gray;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $challenge-gray;
    }
    &::-ms-input-placeholder {
      color: $challenge-gray;
    }
    &::placeholder {
      color: $challenge-gray;
    }
  }

  &.invalidField {
    label {
      color: $red;
    }

    .inputWrapper {
      border-color: $challenge-red !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      color: $challenge-red;
    }

    .fieldErrorText {
      font-size: .7em;
      padding: 15px 20px;
      color: $white;
      background-color: $challenge-red;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-sizing: border-box;
      max-width: 260px;
      font-style: italic;
      text-align: left;

      @media all and (max-width: 450px) {
        max-width: none;
      }
    }
  }
}

.fieldHelpText {
  font-size: .875em;
  color: $white;
}

.button {
  background-color: $challenge-blue-dark;
  color: $white;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: $challenge-font;
  font-size: 14px;

  &:hover,
  &:focus-visible {
    color: $white;
  }
}


.switchToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-color: transparent;
  background-color: transparent;
  color: $black;
  cursor: pointer;

  .switchToggleLabel {
    padding: 10px;
    font-weight: bold;
    color: $challenge-gray;

    &.switchToggleLabelSelected {
      color: $challenge-blue-dark;
    }
  }

  svg {
    display: block;

    .container {
      fill-opacity: 1;
      fill: $challenge-blue-dark;
    }

    .circle {
      fill-opacity: 1;
      fill: $white;
    }
  }

  &:focus-visible {
    outline: none;
    cursor: pointer;

    svg {
      outline: 2px solid $black;
    }
  }

}