$challenge-red: #f65351; // Red: hsl(1, 90%, 64%)

$challenge-blue-light: #e5effa; // Light grayish blue 1: hsl(211, 68%, 94%)
$challenge-blue: #0a317b; // Blue: hsl(219, 85%, 26%)
$challenge-blue-dark: #1c202b; // Very dark blue: hsl(224, 21%, 14%)

$challenge-blue-grey-light: #dde7ee; // Light grayish blue 2: hsl(205, 33%, 90%)
$challenge-blue-grey: #939dae; // Grayish blue: hsl(219, 14%, 63%)
$challenge-blue-grey-dark: #5e6778; // Dark grayish blue: hsl(219, 12%, 42%)

$challenge-grey: #f7fafd; // Very light grayish blue: hsl(210, 60%, 98%)
