@import "app.module.scss";

.container {
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 10px;
    background-color: $challenge-grey-01;

    &.readNotification {
        background-color: $white;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .avatar {
        margin-right: 20px;

        img {
            max-width: 45px;
        }
    }

    .details {
        flex-grow: 1;

        .user {
            font-weight: bold;
            color: $challenge-steel-dark;
            text-decoration: none;

                &:hover, &:focus-visible {
                    color: $challenge-blue;
                }
        }

        .action {
            font-weight: normal;
            color: $challenge-steel;

            .link {
                font-weight: bold;
                color: $challenge-blue;
                text-decoration: none;

                &:hover, &:focus-visible {
                    color: $challenge-steel;
                }
            }

            .linkVisited {
                font-weight: bold;
                color: $challenge-steel;
                text-decoration: none;

                &:hover, &:focus-visible {
                    color: $challenge-blue;
                }
            }
        }

        .readDot {
            margin: 7px 3px;
            vertical-align: top;
        }
    }

    .date {
        font-weight: normal;
        color: $challenge-steel-light;
    }

    .message {
        border: 1px solid $challenge-grey-03;
        padding: 20px;
        margin-top: 10px;
        color: $challenge-steel;
        border-radius: 5px;
        display: block;
        text-decoration: none;

        &:hover, &:focus-visible {
            background-color: $challenge-grey-03;
        }
    }

    .photo {
        img {
            max-width: 45px;
        }
    }
}