@import "colors.module.scss";

.formGeneralAlert {
    margin: 10px 0;
    color: $black;
    background-color: $grey-02;
    border: 1px solid $black;
    padding: 1rem 1rem;
    border-radius: 0.25rem;

    &.formGeneralErrorAlert {
        background-color: $red-light;
        color: $red;
        border-color: $red;
    }

    &.formGeneralSuccessAlert {
        color: $green;
        background-color: $green-light;
        border-color: $green;
    }

    &.formGeneralWarningAlert {
        color: $yellow;
        background-color: $yellow-light;
        border-color: $yellow;
    }

    &.formGeneralInfoAlert {
        color: $blue;
        background-color: $blue-light;
        border-color: $blue;
    }
}
