@use "../_core" as core;
@use "colors.module.scss";
@use "fonts.module.scss";

.solutionContainer {
    font-family: fonts.$challenge-font;

    &.solutionContainerDark {
        background-image: url('/assets/todo-app/bg-desktop-dark.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: colors.$challenge-dark-theme-blue;

        .listContainer {
            background-color: colors.$challenge-dark-theme-blue-dark;
            color: core.$white;

            .listItem {
                border-bottom-color: colors.$challenge-dark-theme-grey-blue-very-dark;

                .listItemTitle {
                    del {
                        color: colors.$challenge-dark-theme-grey-blue-dark;
                    }
                }

                &:hover {
                    .itemDeleteButton {
                        color: colors.$challenge-dark-theme-grey-blue-dark;
                    }
                }

                .itemDeleteButton {
                    &:hover,
                    &:focus-visible {
                        color: core.$white;
                    }
                }
            }

            .listFooterContainer {
                color: colors.$challenge-dark-theme-grey-blue-dark;
            }
        }

        .filterButton,
        .clearButton {
            &:hover,
            &:focus-visible {
                color: core.$white;
            }
        }

        .mobileFilterButtonsContainer {
            background-color: colors.$challenge-dark-theme-blue-dark;
            color: core.$white;
        }

        .dragDropNotice,
        .footer {
            background-color: colors.$challenge-dark-theme-blue;
            color: core.$white;
        }

        .formContainer {
            background-color: colors.$challenge-dark-theme-blue-dark;
            color: core.$white;

            .formToggleIcon {
                color: colors.$challenge-dark-theme-grey-blue-dark;
            }

            .formInput {
                background-color: colors.$challenge-dark-theme-blue-dark;
                color: core.$white;

                input {
                    color: core.$white;
                }
            }

            .formSubmit {
                background-color: colors.$challenge-dark-theme-blue-dark;
                color: core.$white;
            }
        }
    }

    &.solutionContainerLight {
        background-image: url('/assets/todo-app/bg-desktop-light.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: colors.$challenge-grey;

        .listContainer {
            background-color: core.$white;
            color: core.$black;

            .listItem {
                border-bottom-color: colors.$challenge-light-theme-grey-blue;

                .listItemTitle {
                    del {
                        color: colors.$challenge-light-theme-grey-blue;
                    }
                }

                &:hover {
                    .itemDeleteButton {
                        color: colors.$challenge-light-theme-grey-blue;
                    }
                }

                .itemDeleteButton {
                    &:hover,
                    &:focus-visible {
                        color: colors.$challenge-light-theme-grey-blue-very-dark;
                    }
                }
            }

            .listFooterContainer {
                color: colors.$challenge-light-theme-grey-blue-dark;
            }
        }

        .filterButton,
        .clearButton {
            &:hover,
            &:focus-visible {
                color: core.$black;
            }
        }

        .mobileFilterButtonsContainer {
            background-color: core.$white;
            color: core.$black;
        }

        .dragDropNotice,
        .footer {
            background-color: colors.$challenge-grey;
            color: core.$black;
        }

        .formContainer {
            background-color: core.$white;
            color: core.$black;

            .formToggleIcon {
                color: colors.$challenge-light-theme-grey-blue;
            }

            .formInput {
                background-color: core.$white;
                color: core.$black;

                input {
                    color: core.$black;
                }
            }

            .formSubmit {
                background-color: core.$white;
                color: core.$black;
            }
        }
    }

    .wrapper {
        box-sizing: border-box;
        padding: 0 30px;
        max-width: 600px;
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 1em 0;

        .appTitle {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 2em;
        }

        .themeButton {
            font-size: 1.5em;
            background-color: transparent;
            color: core.$white;

            &:hover,
            &:focus-visible {
                color: colors.$challenge-blue-grey;
            }
        }
    }

    .listContainer {
        box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
        border-radius: 10px;
        margin: 10px 0;
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;

        .listItem {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            font-size: 18px;

            border-bottom: 1px solid transparent;

            .listItemTitle {
                flex-grow: 1;
                padding: 5px 10px;
            }

            .itemActiveToggleButton {
                background-color: transparent;
                font-size: 24px;
                padding: 5px;

                .itemToggleButtonHoverIcon {
                    display: none;
                }
                .itemToggleButtonIcon {
                    display: inline-block;
                }

                &:hover,
                &:focus-visible {
                    .itemToggleButtonHoverIcon {
                        display: inline-block;
                    }
                    .itemToggleButtonIcon {
                        display: none;
                    }
                }
            }

            .itemDeleteButton {
                background-color: transparent;
                font-size: 24px;
                padding: 5px;
                color: transparent;
            }
        }
    }

    .listFooterContainer {
        display: flex;
        flex-direction: row;
        padding: 10px 20px 10px 20px;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;

        .filterButtonsContainer {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .listFooterRight {
            text-align: right;
        }
    }

    .filterButton {
        background-color: transparent;
    }

    .activeFilter {
        color: colors.$challenge-blue;
    }

    .clearButton {
        padding: 10px 0;
        background-color: transparent;
    }

    .mobileFilterButtonsContainer {
        box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 20px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .filterButton {
            font-size: 16px;
        }
    }

    .dragDropNotice {
        text-align: center;
        padding: 20px 0;
        width: 100%;
    }

    .footer {
        text-align: center;
    }

    .formContainer {
        box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;

        .formToggleIcon {
            background-color: transparent;
            font-size: 24px;
            padding: 5px;
        }

        .formInput {
            flex-grow: 1;
            margin: 0 5px;
            padding: 5px 0;

            input {
                background-color: transparent;
                font-family: fonts.$challenge-font;
                font-size: 18px;
            }
        }

        .formSubmit {
            min-width: 70px;
        }
    }
}