@import "../_core";
@import "colors.module.scss";
@import "fonts.module.scss";

.solutionContainer {
    font-family: $challenge-font;

    &.solutionContainerDark {
        background-image: url('/assets/todo-app/bg-desktop-dark.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $challenge-dark-theme-blue;

        .listContainer {
            background-color: $challenge-dark-theme-blue-dark;
            color: $white;

            .listItem {
                border-bottom-color: $challenge-dark-theme-grey-blue-very-dark;

                .listItemTitle {
                    del {
                        color: $challenge-dark-theme-grey-blue-dark;
                    }
                }

                .itemActiveToggleButton {
                    &.itemToggleButtonChecked {
                        color: $challenge-blue;
                    }

                    &:hover,
                    &:focus-visible {
                        color: $challenge-blue;
                    }
                }

                &:hover {
                    .itemDeleteButton {
                        color: $challenge-dark-theme-grey-blue-dark;
                    }
                }

                .itemDeleteButton {
                    &:hover,
                    &:focus-visible {
                        color: $white;
                    }
                }
            }

            .listFooterContainer {
                color: $challenge-dark-theme-grey-blue-dark;

                .filterButton,
                .clearButton {
                    &:hover,
                    &:focus-visible {
                        color: $white;
                    }
                }
            }
        }

        .dragDropNotice,
        .footer {
            color: $white;
        }
    }

    &.solutionContainerLight {
        background-image: url('/assets/todo-app/bg-desktop-light.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $challenge-grey;

        .listContainer {
            background-color: $white;
            color: $black;

            .listItem {
                border-bottom-color: $challenge-light-theme-grey-blue;

                .listItemTitle {
                    del {
                        color: $challenge-light-theme-grey-blue;
                    }
                }


                .itemActiveToggleButton {
                    color: $challenge-light-theme-grey-blue;

                    &.itemToggleButtonChecked {
                        color: $challenge-blue;
                    }

                    &:hover,
                    &:focus-visible {
                        color: $challenge-blue;
                    }
                }

                &:hover {
                    .itemDeleteButton {
                        color: $challenge-light-theme-grey-blue;
                    }
                }

                .itemDeleteButton {
                    &:hover,
                    &:focus-visible {
                        color: $challenge-light-theme-grey-blue-very-dark;
                    }
                }
            }

            .listFooterContainer {
                color: $challenge-light-theme-grey-blue-dark;

                .filterButton,
                .clearButton {
                    &:hover,
                    &:focus-visible {
                        color: $black;
                    }
                }
            }
        }

        .dragDropNotice,
        .footer {
            color: $black;
        }
    }

    .wrapper {
        box-sizing: border-box;
        padding: 0 30px;
        max-width: 600px;
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 1em 0;

        .appTitle {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 2em;
        }

        .themeButton {
            font-size: 1.5em;
            background-color: transparent;
            color: $white;

            &:hover,
            &:focus-visible {
                color: $challenge-blue-grey;
            }
        }
    }

    .listContainer {
        box-shadow: 0px 8px 24px rgba(0,0,0,0.3);
        border-radius: 10px;
        margin: 10px 0;
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;

        .listItem {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            font-size: 18px;

            border-bottom: 1px solid transparent;

            .listItemTitle {
                flex-grow: 1;
                padding: 5px 10px;
            }

            .itemActiveToggleButton {
                background-color: transparent;
                font-size: 24px;
                padding: 5px;
            }

            .itemDeleteButton {
                background-color: transparent;
                font-size: 24px;
                padding: 5px;
                color: transparent;
            }
        }
    }

    .listFooterContainer {
        display: flex;
        flex-direction: row;
        padding: 10px 20px 10px 20px;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;

        .filterButtonsContainer {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .listFooterRight {
            text-align: right;
        }

        .filterButton {
            background-color: transparent;
        }

        .activeFilter {
            color: $challenge-blue;
        }

        .clearButton {
            padding: 10px 0;
            background-color: transparent;
        }
    }

    .dragDropNotice {
        text-align: center;
        padding: 20px 0;
    }

    .footer {
        text-align: center;
    }
}