@use "../_core" as core;

$challenge-blue: #3A7BFD; // hsl(220, 98%, 61%);
$challenge-check-bg: linear-gradient(135deg, #57DDFF, #C058F3); // blue: hsl(192, 100%, 67%); pink: hsl(280, 87%, 65%)

$challenge-grey: #FAFAFA; // hsl(0, 0%, 98%);
$challenge-blue-grey: #E4E5F1; // hsl(236, 33%, 92%);

$challenge-light-theme-grey-blue: #D2D3DB; // hsl(233, 11%, 84%);
$challenge-light-theme-grey-blue-dark: #9394A5; // hsl(236, 9%, 61%);
$challenge-light-theme-grey-blue-very-dark: #484B6A; // hsl(235, 19%, 35%);

$challenge-dark-theme-grey-blue-light: #CACDE8; // hsl(234, 39%, 85%);
$challenge-dark-theme-grey-blue-dark: #777A92; // hsl(234, 11%, 52%);
$challenge-dark-theme-grey-blue-very-dark: #393A4C; // hsl(237, 14%, 26%); // hsl(233, 14%, 35%)
$challenge-dark-theme-blue: #161722; // hsl(235, 21%, 11%);
$challenge-dark-theme-blue-dark: #25273C; // hsl(235, 24%, 19%);

// Update to reflect form colors
$challenge-gray: #969696; // hsl(0, 0%, 59%)
$challenge-red: #96271C;
