@use "colors.module.scss";
@use "fonts.module.scss";
@use "../_core" as core;

.fieldWrapper {
  display: inline-block;
  margin: 10px;
  margin-right: 0;

  @media all and (max-width: 600px) {
    width: 90%;
  }

  .requiredText {
    color: colors.$challenge-red;
  }

  .inputWrapper {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    color: core.$black;
  }

  .suffixIcon {
    font-size: 20px;
    margin: 0 10px;
    box-sizing: border-box;
  }

  input,
  select {
    box-sizing: border-box;
    border-color: transparent;
    flex-grow: 1;

    /* do not group these rules */
    &::-webkit-input-placeholder {
      color: colors.$challenge-gray;
    }
    &:-moz-placeholder {
      color: colors.$challenge-gray;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: colors.$challenge-gray;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: colors.$challenge-gray;
    }
    &::-ms-input-placeholder {
      color: colors.$challenge-gray;
    }
    &::placeholder {
      color: colors.$challenge-gray;
    }
  }

  &.invalidField {
    label {
      color: core.$red;
    }

    .inputWrapper {
      border-color: colors.$challenge-red !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      color: colors.$challenge-red;
    }

    .fieldErrorText {
      font-size: .7em;
      padding: 15px 20px;
      color: core.$white;
      background-color: colors.$challenge-red;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-sizing: border-box;
      max-width: 260px;
      font-style: italic;
      text-align: left;

      @media all and (max-width: 450px) {
        max-width: none;
      }
    }
  }
}

.fieldHelpText {
  font-size: .875em;
  color: core.$white;
}

.button {
  background-color: colors.$challenge-dark-theme-blue-dark;
  color: colors.$challenge-dark-theme-grey-blue-dark;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: fonts.$challenge-font;
  font-size: 14px;

  &:hover,
  &:focus-visible {
    color: core.$white;
  }
}