@use "fonts.module.scss";

.solutionContainer {
    font-family: fonts.$challenge-font;
    margin-top: 100px;
    margin-bottom: 100px;

    .wrapper {
        margin: 0 auto;
        max-width: 588px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 24px;
        padding-right: 24px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        box-sizing: border-box;

        @media screen and (max-width: 350px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .appTitle {
            flex-grow: 1;
            margin: 0;
            padding: 0;
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
        }
    }

    .output {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        margin: 40px 0 25px 0;
        padding: 40px 35px;
        text-align: right;
        font-size: 40px;
        font-weight: 700;
        min-height: 140px;

        @media screen and (max-width: 475px) {
            font-size: 30px;
            min-height: 120px;
        }

        @media screen and (max-width: 370px) {
            font-size: 20px;
            min-height: 80px;
        }
    }

    .error {
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 25px;
    }

    .formula {
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 25px;
    }

    .keypad {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        padding: 30px;

        .primaryKeypad {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(65px, auto);
            gap: 24px;

            @media screen and (max-width: 475px) {
                gap: 12px;
                grid-auto-rows: minmax(45px, auto);
            }
        }

        .primaryKeypad + .secondaryKeypad {
            margin-top: 24px;
        }

        .secondaryKeypad {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(65px, auto);
            gap: 24px;

            @media screen and (max-width: 475px) {
                gap: 12px;
                grid-auto-rows: minmax(45px, auto);
            }
        }
    }

    .footer {
        box-sizing: border-box;
        text-align: center;
        padding: 20px;
    }

    @mixin keypadButton() {
        border-radius: 10px;
        font-family: fonts.$challenge-font;
        font-size: 32px;
        font-weight: 700;
        border: none;
        cursor: pointer;

        @media screen and (max-width: 475px) {
            font-size: 20px;
        }

        @media screen and (max-width: 370px) {
            font-size: 14px;
        }
    }

    .button {
        @include keypadButton();
    }

    .buttonPrimary, .buttonSecondary {
        @include keypadButton();
        text-transform: uppercase;
    }

    .themeSwitcherContainer {
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: 215px) {
            display: none;
        }

        .themeSwitcherLabel {
            padding-bottom: 5px;
            text-transform: uppercase;
        }

        .switcherHeader {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .threeWayToggle {
        border-radius: 2rem;
        padding: 2px 5px;
        margin: 0 10px;

        button {
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            margin: 0 0.2rem 0.2rem 0.2rem;
            border: none;
            padding: 0;
        }
    }

}

@import "theme-light.module.scss";
@import "theme-dark.module.scss";
@import "theme-high-contrast.module.scss";