.solutionContainerHighContrast  {
    background-color: $challenge-high-contrast-bg;
    color: $challenge-high-contrast-text;

    .output {
        background-color: $challenge-high-contrast-output;
    }

    .keypad {
        background-color: $challenge-high-contrast-keypad;
    }

    .button {
        background-color: $challenge-high-contrast-btn;
        color: $challenge-high-contrast-text;
        box-shadow: 0 5px 0px $challenge-high-contrast-btn-shadow;
    }

    .buttonSecondary {
        background-color: $challenge-high-contrast-purple-btn;
        color: $challenge-high-contrast-btn-text;
        box-shadow: 0 5px 0px $challenge-high-contrast-purple-btn-shadow;
    }

    .buttonPrimary {
        background-color: $challenge-high-contrast-green-btn;
        color: $challenge-high-contrast-green-btn-text;
        box-shadow: 0 5px 0px $challenge-high-contrast-green-btn-shadow;
    }
}