@use "colors.module.scss";

.solutionContainerHighContrast  {
    background-color: colors.$challenge-high-contrast-bg;
    color: colors.$challenge-high-contrast-text;

    .output {
        background-color: colors.$challenge-high-contrast-output;
    }

    .keypad {
        background-color: colors.$challenge-high-contrast-keypad;
    }

    .button {
        background-color: colors.$challenge-high-contrast-btn;
        color: colors.$challenge-high-contrast-text;
        box-shadow: 0 5px 0px colors.$challenge-high-contrast-btn-shadow;
    }

    .buttonSecondary {
        background-color: colors.$challenge-high-contrast-purple-btn;
        color: colors.$challenge-high-contrast-btn-text;
        box-shadow: 0 5px 0px colors.$challenge-high-contrast-purple-btn-shadow;
    }

    .buttonPrimary {
        background-color: colors.$challenge-high-contrast-green-btn;
        color: colors.$challenge-high-contrast-green-btn-text;
        box-shadow: 0 5px 0px colors.$challenge-high-contrast-green-btn-shadow;
    }

    .threeWayToggle {
        background-color: colors.$challenge-high-contrast-keypad;

        button {
            background-color: colors.$challenge-high-contrast-keypad;

            &.currentTheme {
                background-color: colors.$challenge-high-contrast-green-btn;
            }
        }
    }
}