@import "../_core";
@import "colors.module.scss";
@import "fonts.module.scss";

.solutionContainer {
    font-family: $challenge-font;
    background-color: $challenge-bg;
    color: $white;

    .dashboard {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media all and (max-width: 1150px) {
            flex-direction: column;
            align-items: center;
        }

    }

    footer {
        text-align: center;
    }
}