@use "../_core" as core;
@use "colors.module.scss";
@use "fonts.module.scss";

.solutionContainer {
    font-family: fonts.$challenge-font;
    background-color: colors.$challenge-bg;
    color: core.$white;

    .dashboard {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media all and (max-width: 1150px) {
            flex-direction: column;
            align-items: center;
        }

    }

    footer {
        text-align: center;
    }
}