@import "../_core";
@import "colors.module.scss";
@import "fonts.module.scss";

.solutionContainer {
    font-family: $challenge-font;
    background-color: $challenge-bg;
    color: $white;

    .dashboard {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .overviewCard {
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            background-color: $challenge-card-bg;
            color: $white;
            box-sizing: border-box;
            margin: 15px;
            max-width: 255px;

            .profile {
                border-radius: 15px;
                padding: 30px;
                background-color: $challenge-periwinkle;
                color: $white;
                flex-grow: 1;

                img {
                    width: 85px;
                    height: 85px;
                    border-radius: 50%;
                    border: 4px solid $white;
                }
            }

            .filters {
                padding: 30px;
            }
        }

        .categoryList {
            display: grid;
            grid-template-columns: auto auto auto;
            box-sizing: border-box;

            .categoryCard {
                margin: 15px;
                width: 256px;
                border-radius: 17px;
                background-color: $white;

                &.categoryCardOrange {
                    background-color: $challenge-orange;
                    background-image: url("/assets/time-tracking-dashboard/icon-work.svg");
                    background-position: top right;
                    background-repeat: no-repeat;
                }

                &.categoryCardBlue {
                    background-color: $challenge-blue;
                    background-image: url("/assets/time-tracking-dashboard/icon-play.svg");
                    background-position: top right;
                    background-repeat: no-repeat;
                }

                &.categoryCardRed {
                    background-color: $challenge-red;
                    background-image: url("/assets/time-tracking-dashboard/icon-study.svg");
                    background-position: top right;
                    background-repeat: no-repeat;
                }

                &.categoryCardGreen {
                    background-color: $challenge-green;
                    background-image: url("/assets/time-tracking-dashboard/icon-exercise.svg");
                    background-position: top right;
                    background-repeat: no-repeat;
                }

                &.categoryCardPurple {
                    background-color: $challenge-purple;
                    background-image: url("/assets/time-tracking-dashboard/icon-social.svg");
                    background-position: top right;
                    background-repeat: no-repeat;
                }

                &.categoryCardYellow {
                    background-color: $challenge-yellow;
                    background-image: url("/assets/time-tracking-dashboard/icon-self-care.svg");
                    background-position: top right;
                    background-repeat: no-repeat;
                }

                .categoryCardInner {
                    background-color: $challenge-card-bg;
                    color: $white;
                    border-radius: 15px;
                    box-sizing: border-box;
                    padding: 30px;
                    margin-top: 45px;

                    .title {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0;
                    }

                    .current {
                        font-size: 30px;
                        font-weight: 400;
                    }

                    .previous {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}