@import "../_core";

$challenge-orange: #FF8B64;
$challenge-blue: #56C2E6;
$challenge-red: #FF5E7D;
$challenge-green: #4BCF83;
$challenge-purple: #7235D1;
$challenge-yellow: #F1C75B;

$challenge-bg: #0D1323;

$challenge-card-bg: #1D204B;
$challenge-card-bg-hover: #333977;

$challenge-periwinkle: #5746EA;

$challenge-text-light: #BDC1FF; // hsl(236, 100%, 87%)