@import "app.module.scss";

.filterButton {
    background-color: $challenge-card-bg;
    width: 100%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    color: $grey-01;
    border-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        scale: 1.1;
        color: $white;
    }
}