@use "colors.module.scss";
@use "../_core" as core;

.filterButton {
    background-color: colors.$challenge-card-bg;
    width: 100%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    color: colors.$challenge-text-light;
    border-color: transparent;
    cursor: pointer;
    font-size: 16px;

    &:hover,
    &:focus-visible {
        color: core.$white;
    }

    &.activeFilter {
        color: core.$white;
    }
}