@use "colors.module.scss";
@use "../_core" as core;

.overviewCard {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: colors.$challenge-card-bg;
    color: core.$white;
    box-sizing: border-box;
    margin: 15px;
    max-width: 255px;

    @media all and (max-width: 1150px) {
        max-width: none;
        width: 90%;
    }

    .profile {
        border-radius: 15px;
        padding: 30px;
        background-color: colors.$challenge-periwinkle;
        color: core.$white;
        flex-grow: 1;

        img {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            border: 4px solid core.$white;
        }

        @media all and (min-width: 475px) and (max-width: 1150px) {
            display: flex;

            img {
                margin-right: 30px;
            }
        }

        .name {
            font-weight: 300;
            font-size: 30px;
            line-height: 1.2em;
            padding: 0 10px;

            span {
                display: block;
            }

            span:first-child {
                font-size: 16px;
                font-weight: 300;
                color: core.$grey-01;
            }

            @media all and (max-width: 475px) {
                margin: 0;
            }
        }
    }

    .filters {
        padding: 30px;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: block;
            }
        }

        @media all and (min-width: 351px) and (max-width: 1150px) {
            padding: 10px 30px;
            ul {
                display: flex;
                justify-content: space-around;
            }
        }

        @media all and (max-width: 350px) {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}