@import "app.module.scss";

.timeFrameWrapper {
    display: flex;
    flex-direction: column;

    @media all and (max-width: 570px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .current {
        font-size: 30px;
        font-weight: 400;
    }

    .previous {
        font-size: 14px;
        font-weight: 300;
        color: $grey-01;
    }
}