@use "../_core" as core;
@use "fonts.module.scss";
@use "colors.module.scss";

.solutionContainer {
  font-family: fonts.$challenge-font;
  background-color: colors.$challenge-off-white;

  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 900px) {
    min-height: initial;
    display: block;
  }

  .card {
    display: block;
    border-radius: 23px 23px 200px;
    background-color: core.$white;
    color: core.$black;
    width: 840px;
    flex-grow: 1;
    padding: 60px;
    box-sizing: border-box;

    @media screen and (max-width: 900px) {
      width: 95%;
      flex-grow: 1;
      margin: 0 auto;
    }

    @media screen and (max-width: 700px) {
      padding: 25px;
      border-radius: 23px 23px 100px;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;

    .field {
      display: block;
      max-width: 160px;
      box-sizing: border-box;

      @media screen and (max-width: 700px) {
        max-width: 88px;
      }

      .label {
        display: block;
        font-weight: bold;
        font-size: 10px;
        color: colors.$challenge-gray;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .input {
        display: block;
        line-height: 72px;
        border-radius: 10px;
        font-size: 25px;
        width: 100%;
        padding: 0 0 0 25px;
        box-sizing: border-box;
        border: 1px solid colors.$challenge-grey;
        font-weight: bold;
        background-color: core.$white;

        &:hover {
          cursor: pointer;
        }

        &:focus, &:focus-visible {
          border: 1px solid colors.$challenge-purple;
          outline: none;
          background-color: transparent;
          cursor: pointer;
        }

        @media screen and (max-width: 700px) {
          font-size: 15px;
          line-height: 53px;
          padding: 0 0 0 15px;
        }
      }

      &.invalidField {
        .label {
          color: colors.$challenge-red;
        }

        .input {
          border: 1px solid colors.$challenge-red;
        }

        .fieldErrorText {
          color: colors.$challenge-red;
          font-size: 13px;
          font-style: italic;
          font-weight: normal;
          margin-top: 10px;
          box-sizing: border-box;
        }
      }
    }
  }

  .generalError {
    color: colors.$challenge-red;
    border: 1px solid colors.$challenge-red;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0;
  }

  .divider {
    display: flex;
    align-items: center;

    .lineBefore, .lineAfter {
      flex-grow: 1;
      height: 1px;
      background-color: colors.$challenge-grey;
    }

    .lineAfter {
      display: none;

      @media screen and (max-width: 700px) {
        display: block;
      }
    }

    .submitButton {
      border-radius: 50%;
      border: none;
      background-color: colors.$challenge-purple;
      width: 100px;
      height: 100px;
      box-sizing: border-box;

      &:hover, &:focus-visible {
        background-color: core.$black;
      }

      @media screen and (max-width: 700px) {
        width: 63px;
        height: 63px;

        * {
          width: 100%;
        }
      }
    }
  }

  .output {
    .outputRow {
      display: block;
    }

    .number, .label {
      font-size: 75px;
      color: core.$black;
      text-transform: lowercase;
      font-weight: bold;
      font-style: italic;
      line-height: 80px;

      @media screen and (max-width: 700px) {
        font-size: 43px;
        line-height: 53px;
      }
    }

    .number {
      color: colors.$challenge-purple;
    }
  }

  .footer {
    text-align: center;
    color: core.$black;
    margin: 20px;
  }

}
