// Primary
$challenge-purple: #854dff; // Purple: hsl(259, 100%, 65%)
$challenge-red: #ff5757; // Light red: hsl(0, 100%, 67%)

// Neutral
$challenge-off-white: #f0f0f0; // Off white: hsl(0, 0%, 94%)
$challenge-grey: #dbdbdb; // Light grey: hsl(0, 0%, 86%)
$challenge-gray: #716f6f; // Smokey grey: hsl(0, 1%, 44%)
$challenge-off-black: #141414; // Off black: hsl(0, 0%, 8%)
