@use "../_core" as core;
@use "colors.module.scss";

@mixin basicButton {
    /*
    display: inline-block;
    margin: 0;
    padding: 0.375rem 0.75rem;
    background-color: $blue;
    border: 2px outset $blue;
    text-decoration: none;
    color: core.$white;
    font-size: 1rem;
    text-align: center;
    border-radius: .25rem;
    cursor: pointer;

    &:hover {
        background-color: core.$black;
        color: core.$grey-02;
    }
    */
    display: inline-block;
    margin: 10px;
    padding: 0.375rem 0.75rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-radius: .25rem;
    cursor: pointer;

    &:focus-visible {
        border-color: core.$outline-blue;
        outline: 0;
        box-shadow: 0 0 0 0.15rem core.$outline-blue;
    }

    &.buttonPrimary {
        background-color: colors.$challenge-blue;
        color: core.$white;
        border-color: colors.$challenge-blue;

        &:hover {
            background-color: transparent;
            color: colors.$challenge-blue;
            border-color: colors.$challenge-blue;
        }
    }

    &.buttonSecondary {
        background-color: colors.$challenge-grey-02;
        color: core.$black;
        border-color: colors.$challenge-grey-02;

        &:hover {
            background-color: transparent;
            color: core.$black;
            border-color: colors.$challenge-grey;
        }
    }

    &.buttonTertiary {
        background-color: colors.$challenge-orange;
        color: core.$white;
        border-color: colors.$challenge-orange;

        &:hover {
            background-color: transparent;
            color: colors.$challenge-orange;
            border-color: colors.$challenge-orange;
        }
    }
}

.button {
    @include basicButton();
}