@import "colors.module.scss";

.button {
    display: inline-block;
    margin: 10px;
    padding: 0.375rem 0.75rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: 0px 10px 14px -5px rgba(166, 166, 166, 0.3);

    &:focus-visible {
        border-color: $outline-blue;
        outline: 0;
        box-shadow: 0 0 0 0.15rem $outline-blue;
    }

    &.buttonPrimary {
        background-color: $challenge-blue;
        color: $white;
        border-color: $challenge-blue;

        &:hover {
            background-color: transparent;
            color: $challenge-blue;
            border-color: $challenge-blue;
        }
    }

    &.buttonSecondary {
        background-color: $challenge-grey-02;
        color: $black;
        border-color: $challenge-grey-02;

        &:hover {
            background-color: transparent;
            color: $black;
            border-color: $challenge-grey;
        }
    }

    &.buttonTertiary {
        background-color: $challenge-orange;
        color: $white;
        border-color: $challenge-orange;

        &:hover {
            background-color: transparent;
            color: $challenge-orange;
            border-color: $challenge-orange;
        }
    }

    &.buttonMobile {
        background-color: transparent;
        color: $white;
        border-color: $white;
        width: 100%;
        box-sizing: border-box;
        margin: 20px 0;
        font-size: 20px;
        text-transform: uppercase;
        box-shadow: none;

        &:hover,
        &:focus-visible {
            background-color: transparent;
            color: $challenge-orange;
            border-color: $challenge-orange;
        }
    }
}