@import "colors.module.scss";

.button {
    display: inline-block;
    margin: 10px;
    padding: 0.375rem 0.75rem;
    border: 2px outset transparent;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-radius: .25rem;
    cursor: pointer;

    &:focus-visible {
        border-color: $outline-blue;
        outline: 0;
        box-shadow: 0 0 0 0.15rem $outline-blue;
    }

    &.buttonPrimary {
        background-color: $challenge-blue;
        color: $white;
        border-color: $challenge-blue;

        &:hover {
            background-color: $challenge-grey;
            color: $black;
            border-color: $challenge-grey;
        }
    }

    &.buttonSecondary {
        background-color: $challenge-grey;
        color: $black;
        border-color: $challenge-grey;

        &:hover {
            background-color: $challenge-blue;
            color: $white;
            border-color: $challenge-blue;
        }
    }
}