@import "../_core";

$challenge-blue: #5368DF; // hsl(231, 69%, 60%)
$challenge-blue-dark: #252B46; // hsl(229, 31%, 21%)
$challenge-orange: #FA5757; // hsl(0, 94%, 66%)
$challenge-grey: #9194a1; // hsl(229, 8%, 60%)
$challenge-grey-02: #F5F5F5;
$challenge-grey-03: rgb(204, 204, 206);