@use "colors.module.scss";
@use "../_core" as core;

.fieldWrapper {
  display: inline-block;
  margin: 10px;

  @media all and (max-width: 450px) {
    width: 100%;
  }

  .requiredText {
    color: colors.$challenge-orange;
  }

  .inputWrapper {
    font-size: 14px;
    border-radius: 5px;
    min-width: 250px;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: core.$white;
    color: core.$black;

    @media all and (max-width: 450px) {
      min-width: none;
      width: 100%;
    }

    &:focus-within {
      outline: 3px solid colors.$challenge-blue-dark;
    }
  }

  .suffixIcon {
    font-size: 20px;
    margin: 0 10px;
    box-sizing: border-box;
  }

  input,
  select {
    padding: 15px 20px;
    box-sizing: border-box;
    border-color: transparent;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
    /* do not group these rules */
    &::-webkit-input-placeholder {
      color: colors.$challenge-grey-03;
    }
    &:-moz-placeholder {
      color: colors.$challenge-grey-03;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: colors.$challenge-grey-03;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: colors.$challenge-grey-03;
    }
    &::-ms-input-placeholder {
      color: colors.$challenge-grey-03;
    }
    &::placeholder {
      color: colors.$challenge-grey-03;
    }
  }

  &.invalidField {
    label {
      color: core.$red;
    }

    .inputWrapper {
      border-color: colors.$challenge-orange !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      color: colors.$challenge-orange;
    }

    .fieldErrorText {
      font-size: .7em;
      padding: 15px 20px;
      color: core.$white;
      background-color: colors.$challenge-orange;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-sizing: border-box;
      max-width: 260px;
      font-style: italic;
      text-align: left;

      @media all and (max-width: 450px) {
        max-width: none;
      }
    }
  }
}

.fieldHelpText {
  font-size: .875em;
  color: core.$white;
}