@use "../_core" as core;

.modalContainer {
    background-color: core.$white;
    padding: 20px;

    .modal {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-grow: 1;

        .modalHeader {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }

        .modalHeaderNoTitle {
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
        }

        .headerCloseButton {
            background-color: transparent;
            border-color: transparent;
            padding: 5px;
            cursor: pointer;
        }

        .modalContent {
            flex-grow: 1;
        }

        .modalFooter {
            display: flex;
            flex-flow: row;
            justify-content: flex-end;

            button {
                margin: 0 10px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

.modal {
    min-width: 250px;
    max-width: 500px;
    margin: 0 auto;
}