@use '../_core' as core;
@use 'colors.module.scss';

// https://fonts.google.com/specimen/Rubix
$challenge-font: 'Rubix', 'Segoe UI', Roboto, Oxygen, 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.solutionContainer {
    font-family: $challenge-font;
    background-color: core.$white;
    color: colors.$challenge-blue-dark;

    .header {
        padding: 20px 0;

        .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .headerNavDesktop {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2rem;
                align-items: center;

                .basicLink {
                    color: core.$black;
                    text-decoration: none;
                    padding: 5px 10px;

                    &:focus-visible, &:hover {
                        color: colors.$challenge-orange;
                    }
                }
            }

            .headerNavMobileButton {
                display: none;

                @media all and (max-width: 700px) {
                    display: block;

                    background-color: transparent;
                    color: core.$black;
                    border-color: transparent;

                    &:hover {
                        background-color: colors.$challenge-blue;
                        color: core.$white;
                        border-color: colors.$challenge-blue;
                    }
                }
            }

            .headerNavContainer {
                display: block;

                @media all and (max-width: 700px) {
                    display: none;
                }
            }

            .headerLogo {
                max-height: 25px;
            }
        }
    }

    .headerNavModal {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        width: 100%;
        background-color: colors.$challenge-blue-dark-bg;
        color: core.$white;
        padding: 25px 50px;
        box-sizing: border-box;

        .headerNavMobile {
            flex-grow: 1;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 0;

            li {
                border-top: 1px solid colors.$challenge-grey-04;
                width: 100%;
                text-align: center;
            }

            .basicLink {
                display: block;
                color: core.$white;
                text-transform: uppercase;
                text-decoration: none;
                padding: 20px;
                font-size: 20px;

                &:hover,
                &:focus-visible {
                    color: colors.$challenge-orange;
                }
            }
        }

        .headerNavModalClose {
            color: core.$white;
            font-size: 20px;
        }

        .headerNavSocialMobileContainer {
            width: 100%;

            .headerNavSocialMobile {
                margin: 50px 0;
                padding: 0;
                width: 100%;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 3rem;
                justify-content: center;

                .socialMediaLink {
                    text-decoration: none;
                    color: core.$white;
                    font-size: 25px;

                    &:hover,
                    &:focus-visible {
                        color: colors.$challenge-orange;
                    }
                }
            }
        }


        .headerNavMobileContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-grow: 1;
            margin: 0;
            padding: 0;
        }
    }

    .content {
        background-color: core.$white;
        color: colors.$challenge-blue-dark;
        padding: 20px 0;

        .row {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;

            &.buttonRow {
                gap: 0;
            }
        }

        .listNoStyle {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .center {
            text-align: center;
        }

        .section {
            padding: 25px 40px;

            .title,
            .description,
            .sectionLink {
                box-sizing: border-box;
                text-align: center;
                max-width: 450px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            .description {
                margin: 0 auto 50px auto;
                color: colors.$challenge-grey;
            }

            .overview {
                justify-content: space-between;
                margin: 0 auto;

                .title,
                .description {
                    text-align: left;
                }

                .overviewContent {
                    max-width: 450px;
                }

                .title {
                    font-size: 2.5rem;
                }

                img {
                    max-width: 100%;
                }

                @media all and (max-width: 1300px) {
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: flex-start;

                    .overviewContent {
                        flex-grow: 1;
                        max-width: none;
                        width: 100%;

                        .title,
                        .description,
                        .sectionLink {
                            width: 100%;
                            max-width: none;
                            text-align: center;
                        }

                        .row {
                            justify-content: center;
                        }
                    }

                }
            }
        }

        .featureTabContainer {
            flex-wrap: nowrap;
            gap: 5rem;

            img {
                max-width: 50%;
                display: block;
            }

            .featureTabContent {
                flex-grow: 1;
                padding: 20px;
            }

            @media all and (max-width: 850px) {
                flex-direction: column;
                gap: 2rem;

                img {
                    max-width: 100%;
                }

                .featureTabContent {
                    text-align: center;
                }
            }

            &.featureTabContainerReverse {
                flex-direction: row-reverse;

                @media all and (max-width: 700px) {
                    flex-direction: column-reverse;
                }
            }
        }

        .faqList {
            max-width: 500px;
            margin: 0 auto 50px auto;

            .faqListItem {
                .faqQuestion {
                    background-color: transparent;
                    color: colors.$challenge-blue-dark;
                    border-top: 1px solid core.$grey-01;
                    padding: 20px 20px 20px 0;
                    font-weight: bold;
                }
                &:last-child {
                    .faqQuestion {
                        border-top: 1px solid core.$grey-01;
                        border-bottom: 1px solid core.$grey-01;
                    }
                }
            }
        }

        .cardOffsetList {
            justify-content: center;

            .card {
                margin-top: 40px;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-top: 80px;
                }

                .cardContent {
                    text-align: center;
                    border-radius: 10px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    padding: 20px;
                    box-sizing: border-box;

                    .cardDivider {
                        display: block;
                        margin: 0 auto 10px;
                        height: 20px;

                        background-image: url('/src/resources/bookmark-landing-page/bg-dots.svg');
                        background-repeat: repeat-x;
                        background-position: center center;
                    }
                }
            }

            @media all and (max-width: 1080px) {
                flex-direction: column;
            }
        }
    }

    .footerContainer {

        .callToAction {
            background-color: colors.$challenge-blue;
            color: core.$white;
            padding: 80px 0;

            .wrapper {
                max-width: 450px;
                text-align: center;

                @media all and (max-width: 1300px) {
                    margin: 0 auto;
                }
            }

            .reverseHeaderOrder {
                display: flex;
                flex-direction: column-reverse;
                flex-wrap: wrap;
            }

            .callToActionTitle {
                font-size: 30px;
                margin: 0;
                padding: 40px 25px 30px 25px;
            }

            .callToActionSubtitle {
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 5px;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }

            .callToActionRow {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: center;
            }

            .callToActionSubmit {
                display: block;
                padding: 13px 20px;
                font-size: 14px;
                box-sizing: border-box;
                margin: 10px;
                line-height: 20px;

                &:hover,
                &:focus-visible {
                    background-color: core.$white;
                    color: colors.$challenge-orange;
                }

                @media all and (max-width: 450px) {
                    width: 100%;
                }
            }
        }

        .footer {
            background-color: colors.$challenge-blue-dark;
            color: core.$white;
            padding: 20px 0;

            .wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2rem;

                @media all and (max-width: 750px) {
                    flex-direction: column;
                    align-items: center;
                }

                .footerLogo {
                    height: 30px;
                }

                .footerNav {
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 3rem;
                    }

                    &.footerNavStretch {
                        flex-grow: 1;

                        ul {
                            @media all and (max-width: 450px) {
                                flex-direction: column;
                                align-items: center;
                                gap: 1rem;
                            }
                        }
                    }

                    .basicLink {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: core.$white;
                        font-size: 12px;
                        letter-spacing: 2px;

                        &:hover,
                        &:focus-visible {
                            color: colors.$challenge-orange;
                        }
                    }

                    .socialMediaLink {
                        text-decoration: none;
                        color: core.$white;
                        font-size: 25px;

                        &:hover,
                        &:focus-visible {
                            color: colors.$challenge-orange;
                        }
                    }
                }
            }

        }

        .copyright {
            background-color: colors.$challenge-blue-dark;
            color: core.$white;
            text-align: center;

            a {
                color: colors.$challenge-orange;

                &:focus-visible,
                &:hover {
                    color: core.$white;
                }
            }
        }
    }
}