@use "../_core" as core;

.formGeneralAlert {
    margin: 10px 0;
    color: core.$black;
    background-color: core.$grey-02;
    border: 1px solid core.$black;
    padding: 1rem 1rem;
    border-radius: 0.25rem;

    &.formGeneralErrorAlert {
        background-color: core.$red-light;
        color: core.$red;
        border-color: core.$red;
    }

    &.formGeneralSuccessAlert {
        color: core.$green;
        background-color: core.$green-light;
        border-color: core.$green;
    }

    &.formGeneralWarningAlert {
        color: core.$yellow;
        background-color: core.$yellow-light;
        border-color: core.$yellow;
    }

    &.formGeneralInfoAlert {
        color: core.$blue;
        background-color: core.$blue-light;
        border-color: core.$blue;
    }
}
