@import "countries-api.module.scss";

.listItemContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        max-width: 100%;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .listItemContent {
        padding: 10px 20px 30px 20px;
    }

    a {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &.listItemContainerDark {
        a {
            color: $white;
            &:hover, &:focus-visible {
                color: $white;
            }
        }
    }

    &.listItemContainerLight {
        a {
            color: $black;
            &:hover, &:focus-visible {
                color: $black;
            }
        }
    }
}

