@import "countries-api.module.scss";

.detailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .detailImage {
        max-width: 50%;
        box-sizing: border-box;
        padding-right: 20px;

        img {
            max-width: 100%;
        }
    }
}