@import "countries-api.module.scss";

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .listItem {
        max-width: 265px;
        margin: 35px 30px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &.listItemDark {
            background-color: $challenge-primary-dark;
            box-shadow: $challenge-shadow-dark;
        }

        &.listItemLight {
            background-color: $white;
            box-shadow: $challenge-shadow-light;
        }
    }
}