@import "countries-api.module.scss";

.listItemContainer {
    max-width: 265px;
    margin: 35px 30px;

    &.listItemContainerDark {
        background-color: $challenge-primary-dark;
        box-shadow: rgba(33, 33, 33, 0.2) 0px 8px 24px;
    }

    &.listItemContainerLight {
        background-color: $white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    img {
        max-width: 100%;
    }

    .listItemContent {
        padding: 10px 20px 30px 20px;
    }
}