@use "countries-api.module.scss" as countries;
@use "../_core" as core;

.formWrapper {
    .fieldsWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .formField {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: auto;

            &.fieldWrapperStretch {
                flex-grow: 1;
            }

            @media screen and (max-width: 900px) {
              width: 100%;
            }

            select {
                padding: 15px;
                width: auto;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }
            }
        }

        .buttonSet {
            margin-left: 10px;

            .submitButton {
                padding: 12px;
            }

            @media screen and (max-width: 900px) {
                width: 100%;
                margin: 0;
                margin-top: 10px;

                .submitButton {
                    width: 100%;
                }
            }
        }

    }

    &.formWrapperDark {
        .submitButton {
            background-color: countries.$challenge-primary-dark;
            color: core.$white;
            border: 2px countries.$challenge-primary-dark;
            box-shadow: countries.$challenge-shadow-dark;

            &:focus-visible {
                box-shadow: 0 0 0 0.15rem core.$outline-blue;
            }
        }
    }

    &.formWrapperLight {
        .submitButton {
            background-color: core.$white;
            color: core.$black;
            border: 2px solid core.$white;
            box-shadow: countries.$challenge-shadow-light;

            &:focus-visible {
                box-shadow: 0 0 0 0.15rem core.$outline-blue;
            }
        }
    }
}