@import "../_core";

$challenge-bg-dark: #202c37; // hsl(207, 26%, 17%)
$challenge-primary-dark: #2b3945; // hsl(209, 23%, 22%)
$challenge-bg-light: #fafafa; // hsl(0, 0%, 98%)
$challenge-primary-light: #111517; // hsl(200, 15%, 8%)
$challenge-secondary-light: #858585; // hsl(0, 0%, 52%)

// https://fonts.google.com/specimen/Nunito+Sans
$challenge-font: "Nunito Sans", "Segoe UI", Roboto, Oxygen, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$challenge-shadow-dark: 0px 8px 24px rgba(0,0,0,0.3);
$challenge-shadow-dark-link: 0 0 5px rgba(0,0,0,0.3);
$challenge-shadow-light: 0px 8px 24px rgba(149, 157, 165, 0.2);
$challenge-shadow-light-link: 0 0 5px rgba(149, 157, 165, 0.6);

.solutionContainer {
    font-family: $challenge-font;

    .header {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 10;

        .headerTitle {
            font-size: 20px;
            font-weight: bold;
        }

        .themeModeButton {
            font-size: 14px;
            font-weight: bold;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .content {
        padding-left: 0;
        padding-right: 0;
        z-index: 5;
    }

    .footer {
        text-align: center;
    }
}

.solutionContainerLight {
    background-color: $white;
    color: $black;

    a {
        color: $black;

        &:hover, &:focus-visible {
            color: blue;
        }
    }

    .header, .footer {
        background-color: $white;
        color: $black;

        button {
            color: $black;
        }

        .themeModeButton {
            &:hover, &:focus-visible {
                background-color: $challenge-bg-light;
                color: $black;
            }
        }
    }

    .header {
        box-shadow: $challenge-shadow-light;
    }

    .content {
        background-color: $challenge-bg-light;
        color: $black;
    }
}

.solutionContainerDark {
    background-color: $challenge-primary-dark;
    color: $white;

    .header, .footer {
        background-color: $challenge-primary-dark;
        color: $white;

        a {
            color: $white;

            &:hover, &:focus-visible {
                color: yellow;
            }
        }

        button {
            color: $white;
        }

        .themeModeButton {
            &:hover, &:focus-visible {
                background-color: $challenge-bg-dark;
                color: $white;
            }
        }
    }

    .header {
        box-shadow: $challenge-shadow-dark;
    }

    .content {
        background-color: $challenge-bg-dark;
        color: $white;
    }
}