@import "countries-api.module.scss";

.section {
    .detailContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;

        @media all and (max-width: 1200px) {
            flex-direction: column;
        }

        .detailImage {
            max-width: 560px;
            box-sizing: border-box;
            padding-right: 20px;

            img {
                max-width: 100%;
            }
        }

        .detailContent {
            flex-grow: 1;
            max-width: 50%;
            box-sizing: border-box;
            margin-left: 80px;

            .listItemDetails {
                display: flex;
                box-sizing: border-box;

                .listColumn {
                    box-sizing: border-box;
                    flex: 1;

                    > * {
                        margin: 10px auto;
                    }

                    &:first-of-type {
                        @media all and (max-width: 1200px) {
                            margin-bottom: 20px;
                        }
                    }
                }

                @media all and (max-width: 1200px) {
                    flex-direction: column;
                }
            }

            .borderCountriesListContainer {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: center;

                .borderCountriesList {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    @media all and (max-width: 1200px) {
                        margin-top: 10px;
                    }
                }
            }

            @media all and (max-width: 1300px) {
                max-width: none;
                margin-left: 0;
            }
        }


    }
}

.linkButton {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 20px;
    margin: 5px;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
    font-size: 13px;

    &.linkButtonDark {
        color: $white;
        box-shadow: $challenge-shadow-dark-link;
        background-color: $challenge-primary-dark;

        &:hover,
        &:focus-visible {
            color: $white;
            background-color: $challenge-bg-dark;
        }
    }

    &.linkButtonLight {
        color: $black;
        box-shadow: $challenge-shadow-light-link;
        background-color: $white;

        &:hover,
        &:focus-visible {
            color: $black;
            background-color: $challenge-bg-light;
        }
    }
}