@import "countries-api.module.scss";

.listItemContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        max-width: 100%;
    }

    .listItemImage {

    }

    .listItemContent {
        padding: 10px 20px 30px 20px;
    }
}