@use "countries-api.module.scss" as countries;
@use "../_core" as core;

.list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;

    .listItem {
        max-width: 265px;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-radius: 0.25rem;

        &.listItemDark {
            background-color: countries.$challenge-primary-dark;
            box-shadow: countries.$challenge-shadow-dark;
        }

        &.listItemLight {
            background-color: core.$white;
            box-shadow: countries.$challenge-shadow-light;
        }
    }

    .placeholderBox {
        .placeholderBoxContent {
            padding: 20px;
            text-align: center;
        }
    }
}

.listEmpty {
    text-align: center;
    margin: 35px 30px;
}