@import "countries-api.module.scss";

@mixin basicInput {
  box-sizing: border-box;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $grey-01;
  border-radius: .25rem;

  &:focus-visible {
    border-color: $outline-blue;
    outline: 0;
    box-shadow: 0 0 0 0.15rem $outline-blue;
  }

  width: 300px;

  @media screen and (max-width: 300px) {
    width: 100%;
  }
}

.fieldWrapper {
  .requiredText {
    color: $red;
  }

  label {
    @include screenReaderOnly();
  }

  input,
  select {
    @include basicInput();
  }

  &.invalidField {
    label {
      color: $red;
    }

    input,
    select {
      border-color: $red;
      color: $red;
    }

    .fieldErrorText {
      font-size: .875em;
      color: $red;
    }
  }

  .inputGroup {
    margin: 10px 0;
    width: 100%;
  }

  .fieldHelpText {
    font-size: .875em;
  }

}

.formButtonPrimary,
.formButtonSecondary {
  margin-right: 10px;
}