@use "countries-api.module.scss" as countries;
@use "../_core" as core;

@mixin basicInput {
  box-sizing: border-box;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: core.$white;
  background-clip: padding-box;
  border: 1px solid core.$grey-01;
  border-radius: .25rem;

  &:focus-visible {
    border-color: core.$outline-blue;
    outline: 0;
    box-shadow: 0 0 0 0.15rem core.$outline-blue;
  }

  width: 300px;

  @media screen and (max-width: 300px) {
    width: 100%;
  }
}

.fieldWrapper {
  .requiredText {
    color: core.$red;
  }

  label {
    @include core.screenReaderOnly();
  }

  .inputWrapper,
  select {
    @include basicInput();
  }

  select {
    cursor: pointer;
  }

  .inputWrapper {
    padding: 15px;
    width: auto;

    width: 100%;
    max-width: 500px;

    @media screen and (max-width: 900px) {
      width: 100%;
      max-width: none;
    }

    .prefixIcon + input {
      margin-left: 10px;
      width: 100%;
    }
  }

  &.invalidField {
    label {
      color: core.$red;
    }

    input,
    select {
      border-color: core.$red;
      color: core.$red;
    }

    .fieldErrorText {
      font-size: .875em;
      color: core.$red;
    }
  }

  &.fieldWrapperLight {

    .inputWrapper,
    select {
      border-color: transparent;
      box-shadow: countries.$challenge-shadow-light;
      background-color: core.$white;
      color: core.$black;

      &:focus-visible {
        box-shadow: 0 0 0 0.15rem core.$outline-blue;
      }
    }

    input {
      color: core.$black;
    }
  }

  &.fieldWrapperDark {

    .inputWrapper,
    select {
      border-color: transparent;
      box-shadow: countries.$challenge-shadow-dark;
      background-color: countries.$challenge-primary-dark;
      color: core.$white;

      &:focus-visible {
        box-shadow: 0 0 0 0.15rem core.$outline-blue;
      }
    }

    input {
      color: core.$white;
    }

    input::-webkit-input-placeholder,
    input::-moz-placeholder,
    input::-ms-placeholder {
      color: core.$white;
    }

    input::placeholder {
      color: core.$white;
    }
  }

  .inputGroup {
    margin: 10px 0;
    width: 100%;

    .inputWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:focus-within {
        border-color: core.$outline-blue;
        outline: 0;
        box-shadow: 0 0 0 0.15rem core.$outline-blue;
      }

      .prefixIcon {
        display: block;
      }

      input {
        border: none;
        background-color: transparent;

        &:focus {
          outline: none; // handled in inputwrapper focus-within
        }
      }
    }
  }
}

.fieldHelpText {
  font-size: .875em;
}

.formButtonPrimary,
.formButtonSecondary {
  margin-right: 10px;
}