@import "../_core";

// Primary
$challenge-blue: #4455DA; // Blue 500 - hsl(233, 67%, 56%)
$challenge-blue-dark: #2D1C9C; // Blue 700 - hsl(248, 70%, 36%)
$challenge-orange: #FF7C0A; // Orange 500 - hsl(28, 100%, 52%)

// Neutral
$challenge-off-black: #03012D; // Neutral 900 - hsl(243, 96%, 9%)
$challenge-black-light: #272541; // Neutral 800 - hsl(243, 27%, 20%)
$challenge-gray-dark: #312F4B; // Neutral 700 - hsl(243, 23%, 24%)
$challenge-gray: #3D3B5E; // Neutral 600 - hsl(243, 23%, 30%)
$challenge-grey: #AEAEB7; // Neutral 300 - hsl(240, 6%, 70%)
$challenge-grey-light: #D5D4D9; // Neutral 200 - hsl(250, 6%, 84%)
$challenge-white: #FFFFFF; // Neutral 0 - hsl(0, 0%, 100%)
