@use "fonts.module.scss";
@use "colors.module.scss";

.secondaryCard {
    background-color: colors.$challenge-black-light;
    width: 182px;
    height: 118px;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid colors.$challenge-gray-dark;

    .label {
        @include fonts.font-dm-sans-medium;
        font-size: 18px;

        margin-bottom: 24px;
    }

    .value {
        @include fonts.font-dm-sans-light;
        font-size: 32px;
    }
}