.current {
    margin-bottom: 48px;

    .primaryCard {
        display: flex;
        justify-content: center;
    }

    .secondaryCardList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        @media screen and (max-width: 1250px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 879px) {
            justify-content: start; 
        }

        @media screen and (min-width: 880px) and (max-width: 1250px) {
            justify-content: center;
        } 
    }
}