@import "../_core";

// https://fonts.google.com/specimen/DM+Sans
$challenge-font-dm: "DM Sans", "Segoe UI", Roboto, Oxygen, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// https://fonts.google.com/specimen/Bricolage+Grotesque
$challenge-font-bri: "Bricolage Grotesque", "Segoe UI", Roboto, Oxygen, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$challenge-weight-thin: 100;
$challenge-weight-extra-light: 200;
$challenge-weight-light: 300;
$challenge-weight-regular: 400;
$challenge-weight-medium: 500;
$challenge-weight-semi-bold: 600;
$challenge-weight-bold: 700;
$challenge-weight-extra-bold: 800;
$challenge-weight-black: 900;
