@use "colors.module.scss";
@use "fonts.module.scss";

.listItem {
    background-color: colors.$challenge-gray-dark;
    border: 1px solid colors.$challenge-gray;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    padding: 12px 10px 16px 10px;
    box-sizing: border-box;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .label {
        display: flex;
        gap: 8px;
        flex-direction: row;
        align-items: center;

        @include fonts.font-dm-sans-medium;
        font-size: 20px;
    }

    .condition, .condition img {
        height: 40px;
    }

    .value {
        @include fonts.font-dm-sans-medium;
        font-size: 16px;
    }
}