@import "app.module.scss";

.select {
    box-sizing: border-box;
    display: block;
    padding: 8px 5px 8px 16px;
    background-color: $challenge-gray;
    border: 1px solid transparent;
    border-radius: 8px;
    border-right: 16px solid transparent;
    
    @include font-dm-sans-medium;
    line-height: 1em;
    font-size: 16px;
    text-align: left;
    color: $challenge-white;

    cursor: pointer;
}
